{% extends 'base.html' %}

{% block contents %}
<div class="nakami">
            <main>
                <br>
                <h1>「指数関数・対数関数」</h1>
                <br>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>単元名</th>
                            <th>内容</th>
                            <th>授業動画・理解度評価</th>
                            <th>授業プリント</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="hover-no" rowspan="2">整数の指数</td>
                            <td class="hover-no">0や負の自然数</td>
                            <td class="hover-yes"rowspan="2"><a href="https://forms.gle/85LTnNHb5QWLKCXR6">例１、例２</a></td>
                            <td class="hover-yes"rowspan="2"><a href="https://drive.google.com/file/d/1bXxrJaHqAD9Y1UiLIlAw9WBlYUN1WJzY/view?usp=sharing">プリントNo.1</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no">指数法則</td>
                        </tr>
                        <tr>
                            <td class="hover-no" rowspan="2">累乗根</td>
                            <td class="hover-no" >累乗根</td>
                            <td class="hover-yes"rowspan="2"><a href="https://forms.gle/MY3aasfZaZTwAryJ9">例３、例４，例５</a></td>
                            <td class="hover-yes"rowspan="2"><a href="https://drive.google.com/file/d/1-GH3u22KwnjoKJRHHVKuCzKCYfsIDpHB/view?usp=sharing">プリントNo.2</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no" >累乗根の性質</td>
                        </tr>
                        <tr>
                            <td class="hover-no" >実数の指数</td>
                            <td class="hover-no" >有理数の指数</td>
                            <td class="hover-yes"><a href="https://forms.gle/SagCn83RNRhuiNuK6">例６、例７、例８</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-D6cu2Zbzc1PjxHiC-GxF954vS8EIyWj/view?usp=sharing">プリントNo.3</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no" rowspan="5">指数関数とそのグラフ</td>
                            <td class="hover-no">指数関数のグラフ</td>
                            <td class="hover-yes"rowspan="2"><a href="https://forms.gle/mFXhLR3rdSSYWm4W8">例、例題１</a></td>
                            <td class="hover-yes"rowspan="2"><a href="https://drive.google.com/file/d/1-9K1ieOwBauWBUN-6ofBH--NO0i3Sb0d/view?usp=sharing">プリントNo.4</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no">指数関数の性質</td>
                        </tr>
                        <tr>
                            <td class="hover-no" rowspan="2">指数関数を含む方程式・不等式</td>
                            <td class="hover-yes"><a href="https://forms.gle/Di1cUHfB1bfRthrT7">例題２、例題３</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-9EEZmtdtQOcv__QkUz8g8uLGvJniq8x/view?usp=sharing">プリントNo.5</a></td>
                        </tr>
                        <tr>
                            <td class="hover-yes"><a href="https://forms.gle/6ZaGEVzAuhawTPbT9">例題４、ウイング例題２７</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-8ZANVKBEUXgcH70R6N3hranhADDSe8x/view?usp=sharing">プリントNo.6</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no">指数関数を含む関数の最大値・最小値</td>
                            <td class="hover-yes"><a href="https://forms.gle/JQMm6zCTLtMytPFn6">探究例題５、チャレンジ例題６</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-7ALdNx_D6-y_xmEz_zoRnAUVc-8obNQ/view?usp=sharing">プリントNo.7</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no" rowspan='3'>対数とその性質</td>
                            <td class="hover-no">対数と指数</td>
                            <td class="hover-yes"><a href="https://forms.gle/9KeyEyrstbN71mHG9">例９、例１０、例１１</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-6rYTUUiYNLBU6ty2Lq6h9qPEoApohzc/view?usp=sharing">プリントNo.8</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no">対数の性質</td>
                            <td class="hover-yes"><a href="https://forms.gle/hHjaVR5SwiFvPtaG8">例題７</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-4yBprUQyAsCuAZHluavhONVJdXGWXSf/view?usp=sharing">プリントNo.9</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no">底の変換公式</td>
                            <td class="hover-yes"><a href="https://forms.gle/g6eX66GS8M8cXhcAA">例１２</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-0xhbNDO3DPL8dtJtGXPmJVSNrMyLhGq/view?usp=sharing">プリントNo.10</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no" rowspan='4'>対数関数とそのグラフ</td>
                            <td class="hover-no">対数関数のグラフ</td>
                            <td class="hover-yes"rowspan="2"><a href="https://forms.gle/229B3aJAkP6TEWJm9">例、例題８</a></td>
                            <td class="hover-yes"rowspan="2"><a href="https://drive.google.com/file/d/1-H420Z5FUVjMPyZpsCSBdmVwLBGy_LJz/view?usp=sharing">プリントNo.11</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no">対数関数の性質</td>
                        </tr>
                        <tr>
                            <td class="hover-no">対数関数を含む方程式・不等式</td>
                            <td class="hover-yes"><a href="https://forms.gle/SEQH7PhjbjoadWE58">例題９、例題１０</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-rUHprxHHMmXrS95_gWSNPQ6RtdWaYbL/view?usp=sharing">プリントNo.12</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no">対数関数を含む関数の最大値・最小値</td>
                            <td class="hover-yes"><a href="https://forms.gle/hbkjXH9XsG7V9KPL9">探究例題１１、ウイング例題２８</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-qmNCqplp4XBid3SV_isB5HY43m2npfs/view?usp=sharing">プリントNo.13</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no" rowspan='4'>常用対数</td>
                            <td class="hover-no">常用対数の基本</td>
                            <td class="hover-yes"><a href="https://forms.gle/X326k4R7RPRWkSQr7">例１３、例１４</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-pAAW_HxsP4M3JoZoT3Iv8Vx5wNaHjxZ/view?usp=sharing">プリントNo.14</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no" rowspan="2">常用対数の利用</td>
                            <td class="hover-yes"><a href="https://forms.gle/FpJR4iA4r4Vkv3e9A">例題１２、例題１３</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-pAAW_HxsP4M3JoZoT3Iv8Vx5wNaHjxZ/view?usp=sharing">プリントNo.15</a></td>
                        </tr>
                        <tr>
                            <td class="hover-yes"><a href="https://forms.gle/UCcBXUMN4ZzUJfR89">問３５、ウイング例題２９</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-Qjta-PJ5uEqAFKilIfmInDH7M1bnFKZ/view?usp=sharing">プリントNo.16</a></td>
                        </tr>
                        <tr>
                            <td class="hover-no">対数関数を含む関数の最大値</td>
                            <td class="hover-yes"><a href="https://forms.gle/oLgRkHNcgW1f5LJN9">チャレンジ例題１４</a></td>
                            <td class="hover-yes"><a href="https://drive.google.com/file/d/1-LAjeqtdrOJl8MZBjq6Zv7BF6AJpl8Yo/view?usp=sharing">プリントNo.17</a></td>
                        </tr>
                    </tbody>
                </table>
            </section>  
            <h3>※プリントの一括ダウウンロードは<a href="https://drive.google.com/file/d/1-ywOfPCpQ0hQ2yRP2a1snIeGXMlyTOqY/view?usp=sharing">こちらから</a></h3>
        </div>
        </main>
        {% endblock contents %}